/* Advanced Search */
#adv-btn {
  text-decoration: none;
  color: #343a40;
}
#search-btn {
  background-color: #6610f2;
  color: #fff;
}

#badge-font {
  font-size: 0.85em;
}

/* Header */
#navs {
  background-color: black !important;
}

/* User's Curriculum Scroll */
.row-1 {
  overflow: scroll;
}

/* Cards container */
.scrolleable {
  height: 60vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.img-user {
  max-height: 100%;
  max-width: 100%;
}

.profile-picture {
  width: 5em;
  height: 5em;
}
