body {
  margin-bottom: 7em;
}

header {
  margin-bottom: 0px;
}

/* Footer */
footer {
  margin-top: 5px;
}

/* Advanced Search */
#adv-btn {
  text-decoration: none;
  color: #343a40;
}
#search-btn {
  background-color: #6610f2;
  color: #fff;
}

/* Header */
#nav-bottom, #nav-top {
  background-color: black !important;
}

.navbar-brand>img {
  max-height: 50px;
  width: auto;
}

/* User's Curriculum Scroll */
.row-1 {
  overflow: scroll;
}

/* Cards container */
.scrolleable {
  height: 77vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.img-user {
  max-height: 100%;
  max-width: 100%;
}

.profile-picture{
  width: 5em;
  height: 5em;
}

/* Fix Modal in Fixed container */
.modal-backdrop {
  z-index: 100000 !important;
}

.modal {
  z-index: 100001 !important;
}

.bg-coolgray{
  background-color: #d5d6d2;
}

.bg-cobalt{
  background-color: #3A5199;
}

.border-cobalt{
  color: #3A5199;
}

.btn-cobalt{
  background-color: #3A5199;
  color:white;
}

.btn-cobalt:hover{
  background-color: rgb(176, 190, 236);
  color: #3A5199;
}

.icon-cobalt{
  background-color: rgba(26,122,255,.1);
  color: #3A5199;
}

.text-cobalt {
  color: #3A5199;
}