header {
  margin-bottom: 0px;
}

/* Footer */
footer {
  margin-top: 5px;
}


/* Advanced Search */
#adv-btn {
  text-decoration: none;
  color: #343a40;
}
#search-btn,
#reset-btn {
  background-color: #6610f2;
  color: #fff;
  width:  9em;
}

#badge-font {
  font-size: 0.85em;
}


/* Resumen de búsqueda */
.bg-badge-summ {
  background-color: #8513E5;
}

.text-badge-summ {
  font-size: 1.2em;
  font-weight: 400;
}

/* input[type=text] {
  padding: 0.3em, 0.3em, 0em, 0.3em;
} */
/* Header */
#nav-bottom,
#nav-top {
  background-color: black !important;
}


.navbar-brand>img {
  max-height: 50px;
  width: auto;
}


/* User's Curriculum Scroll */
/* .carousel-inner > img {
  width: 18rem;
  height: auto;
} */
.row-equal>div[class*='col-'] {
  display: flex;
  flex: 1 0 auto;
}

.row-equal .card {
  width: 100%;
}

.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
  display: flex;
}

.carousel-inner>.row-equal.active.left,
.carousel-inner>.row-equal.active.right {
  opacity: 0.5;
  display: flex;
}

.card-img-top-250 {
  max-height: 19rem;
  overflow: hidden;
}


/* disable resize textarea */
.noresize {
  resize: none;
}

/* Cards container */
.scrolleable {
  height: 77vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.img-user {
  max-width: 100%;
  object-fit: cover;
}

.profile-picture {
  width: 5em;
  height: 5em;
  border-radius: 50%;
}


/* Fix Modal in Fixed container */
.modal-backdrop {
  z-index: 100000 !important;
}

.modal {
  z-index: 100001 !important;
}

/* bg, btn and ico colors.*/
.bg-coolgray{
  background-color: #d5d6d2;
}

.bg-cobalt {
  background-color: #3a5199;
}

.border-cobalt {
  color: #3a5199;
}

.btn-cobalt {
  background-color: #3a5199;
  color: white;
}

.btn-cobalt:hover {
  background-color: rgb(176, 190, 236);
  color: #3a5199;
}

.icon-cobalt {
  background-color: rgba(26, 122, 255, 0.1);
  color: #3a5199;
}

.text-cobalt {
  color: #3a5199;
}

.bg-gradient-cobalt {
    background-image: linear-gradient(0deg, rgba(176, 190, 236, 1), rgba(255,255,255,0));
}

/* =================== */
/* Landpage for alumns */
/* =================== */

.bg-dark-opacity {
  background-color: rgba(49, 55, 62, 0.5);
}

.bg-warning-opacity {
  background-color: rgba(255, 188, 62, 0.5);
}

.bg-info-opacity {
  background-color: rgba(0, 163, 181, 0.2);
}

.box-goal {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}


/* ====================== */
/* Landpage for companies */
/* ====================== */

.header-bg {
  background-image: url("../img/team-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 92vh;
  /* margin-top: 76.25px; */
  background-color: black;
  position: relative;
}

.header-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
}

.text-header {
  margin-top: 5rem !important;
  z-index: 1;
}

.title-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.2;
}

.subtitle-header {
  font-family: 'Roboto', sans-serif;
}


/* SKILLS */
.title-skills {
  height: 80px;
  width: 100%;
}

/* Colors */
.blue-gray {
  color: #7ba4a8;
}

.bg-blue-gray {
  background-color: #7ba4a8;
}

.btn-blue-gray {
  background-color: #7ba4a8;
  color: white;
}

.btn-gray {
  background-color: #7ba4a8;
  color: white;
}

.btn-gray:hover {
  background-color: #37494b;
  color: white;
}

.btn-blue-gray-header {
  /* background-color: #7ba4a8;  */
  background-image: transparent;
  border-color: white;
  color: white;
  padding: 10px 15px;
}

.btn-blue-gray-header:hover {
  background-color:white;
  border-color: white;
  color: black;
}

.btn-blue-gray:hover {
  background-color:transparent;
  border-color: #7ba4a8;
  color: black;
}

/* Buttons */
.btn-default {
  padding: 0.375rem 0.75rem !important;
  border-width: 1px !important;
  text-transform: initial !important;
}

.input-default {
  padding: 0.375rem 0.75rem !important;
  border-width: 1px !important;
}

.btn-contact,
.btn-sign {
  width: 155px;
}

/* Form Companies */
.form-company {
  margin: 100px 0;
}

.tooltip-inner {
  border: 1px solid red;
  color: red;
  background-color: wheat;
}

.icon-link {
  color: #495057; 
  font-size: 1.2rem;
}
.icon-link:hover {
  color: #495057;
}
/* Edit Form */
.edit-input {
  width: 50%!important;
}
.edit-title {
  font-size: 1rem!important;
}

.social-edit-container {
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0 10px;
}

.btn-transparent {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
}
.btn-delete-link {
  width: 12px;
  height: 12px;
  top: 0;
  left: 14px;
  border-radius: 50%;
  background-color: red;
}

.icon-delete-link {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.75rem;
  color: white;
}

/* Icon edit Photo */
.icon-container {
  background-color: rgba(150, 150, 150, 0.2);
  border-radius: 50%;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.icon-photo {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}