/* Header */

#navs {
    background-color: black !important;
} 


/* Buttons */
.btn {
    border: 1px solid white;
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: #6610f2;
}

