/* Header */

#navs {
  background-color: black !important;
}

/* Buttons */
.btn {
  border: 1px solid white;
  background-color: black;
  color: white;
}

.btn:hover {
  background-color: #6610f2;
  border: 1px solid white;
}

/* Cards */
.card {
  color: white;
  background-color: black;
  /* border-radius: none; */
}

/* User's Curriculum Scroll */
.row-1 {
  overflow: scroll;
  width: 100%;
}
.img {
  padding: 0.5em;
  height: 140px;
}
